* {
    box-sizing: border-box;
}

div {
    text-align: center;
}

section {
    padding-bottom: 0;
    min-height: unset;
}

img #loadingBar {
    max-height: 674px;
}

img #fileTree {
    max-height: 160px;
}

img #fileTreeTwo {
    max-height: 294px;
}

.spidermeme {
    max-height: 400px;
}

img {
    text-align: center;
}

table {
    text-align: center;
}

th {
    text-align: center;
    padding-right: 5px;
}

#black{
    color: black;
}

#red{
    color: red;
}

#green{
    color: green;
}

#yellow {
    color: yellow;
}

#blue {
    color: blue;
}

#magenta {
    color: magenta;
}

#cyan {
    color: cyan;
}

#white {
    color: gainsboro;
}

#blank {
    padding-right: 50px;
}

#purple {
    color: rgb(152, 5, 152);
}

#orange {
    color: rgb(232, 91, 3);
}

#blueT {
    color: rgb(64, 143, 227)
}

#darkGreen {
    color: rgb(24, 128, 24);
}

#errorGreen {
    color: rgb(37, 211, 171);
}

#methodYellow {
    color: rgb(203, 182, 66);
}

.black {
    background-color: black;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: rgb(50, 50, 232);
    color: white;
}

.magenta {
    background-color: magenta;
    color: white;
}

.cyan {
    background-color: cyan;
    color: white;
}

.right {
    text-align: right;
}

#purple {
    color: rgb(152, 5, 152);
}

#orange {
    color: rgb(232, 91, 3);
}

#blue {
    color: rgb(24, 79, 138);
}

#lightblue{
    color: rgb(64, 143, 227)
}

#green {
    color: rgb(24, 128, 24);
}

#lightgreen, #number {
    color: rgb(37, 211, 171);
}

#yellow {
    color: rgb(203, 182, 66);
}